$bgcolor: #0b001a;
$focus_color: #5a03fc;
$hover_color: #3f03ad;

@mixin transition($props...) {
  transition: $props;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: $bgcolor;
  color: #e1d8ed;
}

.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.area {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;

  >* {
    max-width: 90vw;
  }
}

.logo {
  font-size: 24px;
  font-weight: 900;
  text-shadow: 0 0 10px $hover_color;
  color: $focus_color;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: $bgcolor;

  nav ul {
    display: flex;
    gap: 40px;

    li {
      cursor: pointer;
      position: relative;
      @include transition(color 0.2s ease, font-size 0.5s ease);

      &:hover {
        color: white;
        font-size: 18px;
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #9b7fff !important;
  transform: scale(1);
}

.fixed-footer-arrow {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
  pointer-events: none;

  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.arrow-icon {
  pointer-events: auto;
  cursor: pointer;
  color: white;

  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: transparent;

  svg {
    transition: all 0.3s ease;
    opacity: 1;
    transform: scale(1);
  }

  animation: bounce 2s infinite;
}

.is-ended .arrow-icon {
  animation: none;

  width: 16px;
  height: 16px;

  background-color: white;

  svg {
    opacity: 0;
    transform: scale(0);
    width: 0;
    height: 0;
  }
}

.arrow-icon:hover {

  &:not(.is-ended .arrow-icon) {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.tech-page {
  display: flex;
  flex-direction: column;
  gap: 40px;

}

.about-page {

  h1 {
    font-weight: 100;
    font-style: italic;
    font-size: clamp(2.5rem, 8vw, 72px);
    line-height: 1.1;
  }
}